
@media only screen and (min-width: 1028px) {
   .container {
       max-width: 1028px; /* ou qualquer outro valor desejado */
       
   }

   .footer {
       max-width: 80%;
   }
}


@media only screen and (max-width: 1027px) {
   .container {
       max-width: 100%;
       max-width: 1028px;
       margin: 0 auto;
   }

   @media only screen and (max-width: 1028px) {
      .container {
          max-width: 100%;
      }
   

   .footer {
       max-width: 80%;
       margin-top: 5rem;
   }
}

/* Small screens */
@media only screen and (max-width: 875px) {
   .pitch {
      
   }

   .footer {
       margin-top: 5rem;
   }

   html {
       height: 100vh;
       width: 100vw;
   }

   .form {
       text-align: center;
       max-width: 350px;
   }
}


@media only screen and (max-width: 375px) {
   .footer {
       margin-top: 2%;
   }
}
