/* Largura de tela até 1028px */
@media only screen and (max-width: 1028px) { 
   .container {
       max-width: 100%;
       margin: auto;
   }
   
   .footer {
       max-width: 80%;
   }
}

/* Largura de tela até 875px */
@media only screen and (max-width: 875px) { 
   .pitch {
       display: none;
   }
   
   .footer {
       max-width: 80%;
       margin-top: 5rem;
   }

   html, body {
       height: 100%;
       margin: 0;
       padding: 0;
   }

   .container {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: 100vh;
   }

   .form {
       text-align: center;
       max-width: 350px;
   }
}

/* Largura de tela até 375px */
@media only screen and (max-width: 375px) { 
   .footer {
       margin-top: 2%;
   }
}